.description {
    display: flex;
    width: 35%;
}

Link {
    margin-top: 20px;
}

.breadcrumb {
    margin-left: 30px;
    display: flex;
    justify-content: start;
    width: 150px;
}
.breadcrumb :nth-child(1n+2):before {
    content: "/";
}
.breadcrumb :last-child {
    pointer-events: none;
    cursor: default;
}