.description {
    display: flex;
    width: 35%;
}

Link {
    margin-top: 20px;
}

.breadcrumb {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.breadcrumb :last-child {
    pointer-events: none;
    cursor: default;
}